<!DOCTYPE html>
<html>
<head>
	<title>Auth set up</title>
	<link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
</head>

<body>
	<div class="container">
		<div id="login">
			<a href="/login" class="btn btn-primary">Login to Spotify</a>
		</div>
		<div id="artists-following-button">
			<a class="btn btn-primary">View artists following</a>
		</div>
		<div id="saved-artists-button">
			<a class="btn btn-primary">View saved artists</a>
		</div>
		<div id="loggedin">
			<!-- placeholders -->
			<div id="user-profile"></div>
			<div id="artists-following"></div>
			<div id="saved-artists"></div>
			<div id="oauth"></div>
		</div>
	</div>

	<!-- TEMPLATES -->
	<script id="artists-following-template" type="text/x-handlebars-template">
		<h2>Artists following</h2>
		<!-- #each means template will receive array -->
		<ul>
			{{#each this}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</script>

	<script id="saved-artists-template" type="text/x-handlebars-template">
		<h2>Saved Artists</h2>
		<ul>
			{{#each this}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</script>
	<!-- END OF TEMPLATES -->

	<!-- 	
		Steps:	
		- Make JQuery request to express /artists-following route, which returns list of artists
		- Then display response from route using Handlebars 
	-->
	<script>
		$("#artists-following-button").on("click", () => {
	  	const artistsFollowingSource = $("#artists-following-template").html();
	  	const artistsFollowingTemplate = Handlebars.compile(artistsFollowingSource);
	  	let artistsFollowingPlaceholder = $("#artists-following");
			$.get('/artists-following').then((res) => {
				const artistsFollowingFromRoute = res['list'];
				artistsFollowingPlaceholder.html(artistsFollowingTemplate(artistsFollowingFromRoute));
			});
		})

		$("#saved-artists-button").on("click", () => {
			const savedArtistsSource = $("#saved-artists-template").html();
			const savedArtistsTemplate = Handlebars.compile(savedArtistsSource);
			let savedArtistsPlaceholder = $("#saved-artists");
			$.get('/saved-artists').then((res) => {
				const savedArtistsFromRoute = res['list'];
				savedArtistsPlaceholder.html(savedArtistsTemplate(savedArtistsFromRoute));
			})
		});
	</script>

</body>
</html>






