<!DOCTYPE html>
<html>
<head>
	<title>Auth set up</title>
	<link rel="stylesheet" type="text/css" href="/netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
	<style type="text/css">
		#login, #loggedin {
			display: none;
		}
	</style>
</head>

<body>
	<div class="container">
		<div id="login">
			<a href="/login" class="btn btn-primary">Login to Spotify</a>
		</div>
		<div id="loggedin">
			<!-- placeholders -->
			<div id="user-profile"></div>
			<div id="artists-following"></div>
			<div id="saved-artists"></div>
			<div id="oauth"></div>
			<button class="btn btn-default" id=obtain-new-token>Request new access token with refresh token</button>
		</div>
	</div>

	<script id="user-profile-template" type="text/x-handlebars-template">
		<h1>Logged in as {{display_name}}</h1>
		<div class="media">
			<div class="pull-left">
				<img class="media-object" width="150" src="{{images.0.url}}" />
			</div>
		</div>
		<div class="media-body">
			<dl class="dl horizontal">
				<dt>Display name</dt><dd>{{display_name}}</dd>
				<dt>Id</dt><dd>{{id}}</dd>
				<dt>Email</dt><dd>{{email}}</dd>
				<dt>Spotify URI</dt><dd><a href="{{external_urls.spotify}}">{{external_urls.spotify}}</a></dd>
				<dt>link</dt><dd><a href="{{href}}">{{href}}</a></dd>
				<dt>Profile image</dt><dd><a href="{{images.0.url}}">{{images.0.url}}</a></dd>
				<dt>Country</dt><dd>{{country}}</dd>
			</dl>
		</div>
	</script>

	<script id="artists-following-tempate" type="text/x-handlebars-template">
		<h2>Artists following</h2>
		<!-- list each artist using Handlebars.  #each means will receive array -->
		<ul>
			{{#each this}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</script>

	<script id="saved-artists-template" type="text/x-handlebars-template">
		<h2>Saved Artists</h2>
		<ul>
			<!-- Iterate through all saved artists. this = list of items -->
			{{#each this}}
				<li>{{this}}</li>
			{{/each}}
		</ul>
	</script>

	<script id="oauth-temlpate" type="text/x-handlebars-template">
		<h2>Oauth info</h2>
		<dl class="dl-horizontal">
			<dt>Access token</dt><dd>{{access_token}}</dd>
			<dt>Refresh token</dt><dd>{refresh_token}}</dd>
		</dl>
	</script>

	<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

  <script>
  	// gets params from url after authorization
  	




  	
  </script>
</body>
</html>






